@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\000033}}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 62.5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\000038}}
body header {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.3rem;
  background-color: #5fc0cd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000314}}
body header a img {
  display: inline-block;
  float: left;
  margin-left: .5rem;
  width: .6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000321}}
body header span {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  color: #ffffff;
  font-size: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000334}}
body main .main-content .up-content {
  display: flex;
  align-items: center;
  height: 10rem;
  background: url(images/up_bg_img.png) no-repeat;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000340}}
body main .main-content .up-content .head-icon {
  margin-left: 1rem;
  width: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000344}}
body main .main-content .up-content .name-addr {
  margin-left: 1rem;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000348}}
body main .main-content .up-content .name-addr .name-age .name {
  font-size: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000351}}
body main .main-content .up-content .name-addr .name-age .age {
  font-size: .8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000356}}
body main .main-content .up-content .name-addr .addr img {
  width: .6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000362}}
body main .main-content .professional-skills {
  display: flex;
  align-items: center;
  height: 3.2rem;
  font-size: 1rem;
  border-bottom: 1px solid #e1e5e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000368}}
body main .main-content .professional-skills .vertical_icon {
  display: inline-block;
  margin-left: .6rem;
  width: 2px;
  height: 14px;
  background-color: #5fc0cd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000375}}
body main .main-content .professional-skills span {
  margin-left: .6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000380}}
body main .main-content .down-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000384}}
body main .main-content .down-content ul li {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e1e5e7;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000393}}
body main .main-content .down-content ul li .sub-li {
  display: table;
  padding-left: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\0000396}}
body main .main-content .down-content ul li .sub-li .form-label {
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003101}}
body main .main-content .down-content ul li .sub-li .form-tag {
  background: url(images/star.png) no-repeat;
  background-size: .9rem;
  background-position-y: .2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003106}}
body main .main-content .down-content ul li .sub-li .form-tag span {
  margin-left: 1.1rem;
  font-size: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003111}}
body main .main-content .down-content ul li .sub-li .minbar {
  height: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003113}}
body main .main-content .down-content ul li .sub-li .minbar img {
  margin: 0 .8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003117}}
body main .main-content .down-content ul li .sub-li .intro-skill {
  font-size: .7rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003120}}
body main .main-content .down-content ul li .sub-li .form-4 {
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003130}}
body footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003133}}
body footer button {
  width: 40%;
  height: 3.5rem;
  font-size: 1.3rem;
  border: 2px solid #5fc0cd;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003140}}
body footer .message-btn {
  float: left;
  margin-left: 1rem;
  color: #5fc0cd;
  background-color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task12\/per_style\.less}line{font-family:\00003146}}
body footer .contact-btn {
  float: right;
  margin-right: 1rem;
  color: #ffffff;
  background-color: #5fc0cd;
}
/*# sourceMappingURL=per_style.css.map */